.modal-background {
	background-color: rgba(0, 0, 0, 0.5);
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
}

.modal {
	background-color: $secondary-color;
	border-radius: 4px;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	
	.modal-close {
		@extend .fa;
		@extend .fa-times;
		border: none;
		position: absolute;
		top: 5px;
		right: 5px;
		margin: 0;
	}
}

.modal-content {
	padding: 30px 15px;

	.title {
		font-size: 1.3em;
		margin-top: 0;
		text-align: center;
	}
	
}

.modal-complete {
	.present {
		color: $present-color;
	}

	.late {
		color: $late-color;
	}

	.absent {
		color: $absent-color;
	}

	.list {
		margin: 0;
		min-width: 500px;

		li {
			display: block;
			margin-bottom: 5px;

		}
		
		.subtitle {
			text-transform: capitalize;
			margin: 20px 0 7px;
		}			
	}

	.modal-content > p {
		font-weight: bold;
	}
}